.clients__list {
    --card-item: 6;
}

.clients__item:last-child {
    margin-right: 0;
}

.clients__item {
    color: var(--soc__grey-color);
}
.clients__soc__icon {
    fill: currentColor;
}
.clients__link {
    color: inherit;
    display: flex;
    fill: var(--soc__grey-color);
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: fill var(--cubic-bezier),
        border var(--cubic-bezier);

    &:focus,
    &:hover {
        color: var(--blue-color);
        border: 1px solid var(--blue-color);
    }
}
 



