.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--footer-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: 50% 0;

&__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
}

&__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: 0px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--cubic-bezier),
        box-shadow var(--cubic-bezier),
        border-radius var(--cubic-bezier);}

    &__btn:hover,
    &__btn:focus {
        background-color: var(--dark-blue-color);
    }
}


