.peculiarities {
    --card-item: 4;
    &__title {
        margin-bottom: 10px;
        color: var(--black-color);
    }
}

.peculiarities__item::before {
    content: "";
    display: block;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background: var(--grey-color);
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.icon-rect::before {
    background-image: url(../image/antenna.svg);
}

.icon-clock::before {
    background-image: url(../image/clock.svg);
}

.icon-diagram::before {
    background-image: url(../image/diagram.svg);
}

.icon-ilon::before {
    background-image: url(../image/astronaut.svg);
}


