.team {
    background: var(--grey-color);
    @include desktop{
    }
   

    &__container {
        padding: 30px;
    }
    &__title {
        font-weight: 500;
        color: var(--black-color);
        margin-bottom: 10px;
    }
    &__text {
        margin-bottom: 16px;
    }
    &__list {
        
        display: flex;  
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item {
        width: 100%;
        text-align: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }
        
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
        }
    }}





.team__text,
.team__title {
    font-size: 16px;
    line-height: 1.19;
}


